body{
    background-color: #f4f4f4;
}

.customCont{
    background-color: #f4f4f4;
}
.card-title{
    text-align: center;
}


    .rowOne{
        margin-top: 10%;
        margin-left: 150px;
    }

    img{
        height: 150px;
    }

    .card-body{
        max-width: 641px;
    }

@media screen and (max-width: 768px){
    .row{
        display: block !important;
        max-width: 100%;
    }

    table{
        display: inline-table;
        flex-direction: column;
    }
    .rowOne{
        margin-left: 0;
    }

    .card-body img{
        /* display: flex; */
        /* margin-right: 200px; */
        max-width: 100%;
    }


}